<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <header><%- include ('./partials/header') %></header>
      <%- include ('./partials/menu') %>
      <%#- include ('./partials/messages') %>
      <section class="custom-register-content">
        <div class="custom-container-fluid">
          <h1 class="custom-text-center">Регистрация</h1>
          <%- include('./partials/messages') %>
          <form action="/register" method="post" name="user" class="custom-form p-3">
            <div class="custom-row">
              <div class="custom-col-12 custom-col-sm-6">
                <div class="custom-form-group mb-3 pb-0">
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Имя"
                    class="custom-form-control"
                    required
                  />
                  <label for="name">Имя:</label>
                </div>
              </div>
              <div class="custom-col-12 custom-col-sm-6">
                <div class="custom-form-group mb-3">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    class="custom-form-control"
                    required
                  />
                  <label for="email">Email:</label>
                </div>
              </div>
            </div>
            <div class="custom-row">
              <div class="custom-col-12 custom-col-sm-6">
                <div class="custom-form-group mb-3">
                  <input
                    type="number"
                    name="age"
                    id="age"
                    class="custom-form-control"
                    placeholder="Возраст"
                    required
                  />
                  <label for="age">Возраст:</label>
                </div>
              </div>
              <div class="custom-col-12 custom-col-sm-6">
                <div class="custom-form-group mb-3">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="custom-form-control"
                    placeholder="Пароль"
                    required
                  />
                  <label for="password">Пароль:</label>
                </div>
              </div>
            </div>
            <div class="custom-row">
              <div class="custom-col-12 custom-col-sm-6">
                <div class="custom-form-check">
                  <input class="custom-form-check-input" type="checkbox" value="1" id="isAdmin" name="isAdmin">
                  <label class="custom-form-check-label" for="isAdmin">Вы админ?</label>
                </div>
              </div>
            </div>
            <div class="custom-row">
              <div class="custom-col-12 custom-col-sm-4">
                <button type="submit" class="custom-btn custom-btn-info">Регистрация</button>
              </div>
            </div>
            <div class="custom-row">
              <div class="custom-col-12 custom-col-sm-6">
                <a href="login" class="custom-text-decoration-none">Уже зарегистрированы? Войти</a>
              </div>
            </div>
          </form>
        </div>
      </section>
      
      <footer><%- include('./partials/footer')%></footer>
    </body>
  </html>
